<h1>Chat</h1>

<div id="container_chat">
    <ul id="messages">

    </ul>

    <form id="chat_form">
        <input type="text" name="user" id="user_email" placeholder="Email" required>
        <input type="text" name="message" id="user_message" placeholder="Mensaje" required>
        <button type="submit">SEND</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>